body {
  background-color: lightblue;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #45565c;
  padding-top: 30px;
  padding-bottom: 10px;
}

.formSection {
  margin-bottom: 30px;
}

input {
  width: 60%;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #9bc2cf;
  padding: 5px;
}

#newBookButton {
  width: 60%;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid #8aacb8;
}

table {
  width: 60%;
  background-color: #eef7fa;
  padding-left: 5px;
  text-align: left;
  margin-left: 20%;

  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #8aacb8; /* this draws the table border  */
}

td {
  border: none;
  padding: 5px;
}

tr:hover {
  background-color: #e6f3f7;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #8aacb8; /* this draws the table border  */
}

.readButton {
  border-radius: 10px;
  border: 2px solid #8aacb8;
  width: 110px;
}

.deleteButton {
  border-radius: 10px;
  border: 2px solid #e6bbad;
  width: 110px;
}
